body {
    margin: 0;
    font-family:'Montserrat';
    background: #0b0f1a;
    color:#fff;
}

.navbar {
  opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: linear-gradient(90deg, #0b0f1a, #0d1b2a);
    color: white;
}

.logo-nav {
    font-size: 20px;
    font-weight: bold;
    color: #5ecbff;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #cfd8dc;
    font-size: 14px;
    transition: 0.3s;
}

.menu a:hover {
    color: white;
}

.auth-btn {
    display: flex;
    gap: 10px;
}

.hero {
  text-align: center;
  padding: 80px 0;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

.hero-text p {
  color: #aaa;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search-bar input {
  width: 300px;
  padding: 12px;
  border-radius: 25px 0 0 25px;
  border: none;
  outline: none;
  background: #0f172a;
  color: white;
}

.search-bar button {
  padding: 12px 25px;
  border-radius: 0 25px 25px 0;
  border: none;
  background: linear-gradient(90deg, #4cc9f0, #4361ee);
  color: white;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.stat {
  text-align: center;
}

.stat span {
  font-size: 1.5rem;
  color: #4cc9f0;
}

.updates {
  padding: 60px 0;
}

.updates h2 {
  text-align: center;
  margin-bottom: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(76, 201, 240, 0.5);
}

.card-image {
  height: 180px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background: orange;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.card-info {
  padding: 20px;
}

.card-info h3 {
  margin-bottom: 10px;
}

.old-price {
  text-decoration: line-through;
  color: #888;
}

.new-price {
  font-size: 1.3rem;
  color: #4cc9f0;
}

.date {
  font-size: 0.8rem;
  color: #aaa;
  margin-top: 10px;
}

.btn {
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid #5ecbff;
    background: transparent;
    color: #5ecbff;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: rgba(94, 203, 255, 0.2);
}

.btn.primary {
    background: linear-gradient(90deg, #5ecbff, #3a86ff);
    color: white;
    border: none;
}

.btn.primary:hover {
    opacity: 0.85;
}




.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    min-height: 100vh; /* melhor que height */
  padding-top: 80px;
}

.logo {
  height: 60vh;
  z-index: 2;
  position: relative;
  
  width: 300px;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;


  filter: drop-shadow(0 0 20px #00ccff)
          drop-shadow(0 0 40px #00ccff);
}

/* CANVAS DAS PARTÍCULAS */
#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* joga pra trás */
  pointer-events: none; /* não atrapalha cliques */
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 1.5rem;
  }

  .logo {
    width: 200px;
  }

  .stats {
    flex-direction: column;
    gap: 20px;
  }
}