body {
  margin: 0;
  height: 100vh;
  background: black;
}

.space {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  /* Gradiente principal */
  background: radial-gradient(
      circle at 65% 35%,
      rgba(120, 0, 255, 0.3),
      rgba(10, 10, 40, 0.9) 40%,
      #020617 80%
  );
}

/* brilho central tipo "feixe" */
.space::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background: radial-gradient(
    circle,
    rgba(150, 80, 255, 0.4),
    transparent 60%
  );

  filter: blur(40px);
    animation: starsMove 12s linear infinite;
}

@keyframes starsMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-400%);
  }
}
.space::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;

  display: block;

  background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
    
  background-size: 50px 50px, 80px 80px, 120px 120px;
  background-position: 0 0, 50px 50px, 25px 75px;

  opacity: 0.6;

   animation: starsMove 0.5s linear infinite;
}
